@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,400&display=swap');

:root {
  --color-primary: #c7ef00;
  --color-secondary: #f5f5f5;

  --color-primary-dark: #9fbe00;
  --color-primary-light: #dcff2f;

  --color-secondary-dark: #e0e0e0;
  --color-secondary-light: #f5f5f5;

  --color-dark: #071013;
  --color-light: #f5f5f5;

  --color-dark-darker: #1f1f1f;
  --color-dark-lighter: #fdfdfd;

  --color-disabled: #272a2b;
  --color-disabled-darker: #17191a;

  --color-success: #4caf50;
  --color-danger: #f44336;
  --color-warning: #ff9800;
  --color-info: #2196f3;

  --font-noto-sans: 'Raleway', Arial, Helvetica, sans-serif;
  --font-ibm-plex: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow: scroll;
}

body {
  font-family: var(--font-noto-sans);
  font-weight: 400;
  line-height: 1.75;

  background-color: #071013;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23272a2b' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0 1.38rem;
  font-family: var(--font-noto-sans);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.169rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

hr {
  border: 0;
  border-bottom: 1px dashed var(--color-primary);
  margin: 1rem 0;
  opacity: 0.1;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  letter-spacing: 0.36px;
}

a,
a:visited {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-primary-light);
  text-decoration: none;
}

.primary {
  color: var(--color-primary);
}

img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  border-left: 3px solid var(--color-primary);
  border-right: 3px solid var(--color-primary);
}

input,
textarea,
select {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 5px 10px;
  border: 2px solid var(--color-dark-darker);
  width: 100%;
  outline: none;
}
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  background-color: var(--color-dark-darker);
  color: var(--color-light);
  outline: none;
  border: 2px solid var(--color-primary);
}

input[type='radio'],
input[type='checkbox'] {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

input[type='radio']:disabled,
input[type='checkbox']:disabled {
  opacity: 1;
}

input[type='color'] {
  height: 38.5px;
}

input[type='search']:focus,
input[type='search']:active {
  border: 2px solid transparent;
}

th {
  background-color: var(--color-dark-darker);
  color: var(--color-light);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  border: 1px solid var(--color-);
  color: var(--color-primary-light);
  font-weight: 700;
  text-align: center;
  border-right: 1px solid var(--color-dark);
}

th:first-child {
  border-left: 1px solid var(--color-dark);
}

td {
  font-size: 0.75rem;
  font-family: var(--font-ibm-plex);
  font-weight: 400;
  border-right: 1px solid var(--color-dark);
  background-color: var(--color-dark-darker);
  vertical-align: middle;
  text-align: center;
  height: 36px;
}

td:first-child {
  border-left: 1px solid var(--color-dark);
}

tr {
  border-bottom: 1px solid var(--color-dark);
}

/* - - - - - - - - - - - colors - - - - - - - - - - -  */
.color-dark {
  color: var(--color-dark);
}

.color-primary {
  color: var(--color-primary);
}
/* - - - - - - - - - - - icon - - - - - - - - - - -  */
svg,
.icon {
  width: 24px;
  height: 24px;
}

svg {
  fill: var(--color-primary);
}
/* - - - - - - - - - - - button - - - - - - - - - - -  */
button {
  outline: 0;
  border: 1px solid transparent;
  margin-right: 1px;
  margin-bottom: 1px;
}

button:hover {
  filter: brightness(110%);
}

.btn {
  padding: 5px 14px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  align-items: center;
  display: inline-flex;
}

.btn-icon {
  justify-content: center;
}

.btn-icon,
.btn-and-icon {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 7px 7px;
}

.btn,
.btn-icon,
.btn-and-icon {
  border: 2px solid var(--color-primary-light);
  border-bottom: 5px solid var(--color-primary-dark);
}

.btn-and-icon {
  text-transform: uppercase;
  padding: 5px 14px;
  gap: 4px;
  min-width: 11rem;
  justify-content: space-between;
}

.btn-icon svg,
.btn-and-icon svg,
.form-control__input-button svg {
  fill: var(--color-dark);
  width: 18px;
  height: 18px;
}

.btn-primary {
  color: var(--color-dark);
  background-color: var(--color-primary);
}

.btn-secondary {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

.btn-full {
  width: 100%;
}

button:disabled {
  color: var(--color-dark);
  background-color: var(--color-disabled);
  border: 2px solid var(--color-disabled);
  border-bottom: 5px solid var(--color-disabled-darker);
}

button:disabled svg {
  fill: #666666;
}

.btn-color-select,
.btn-storage-select {
  height: 38px;
  width: auto;
  min-width: 38px;
  border-radius: 38px;
}

.btn-storage-select {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-storage-select:focus,
.btn-storage-select:active,
.btn-color-select:focus,
.btn-color-select:active {
  outline: 3px solid var(--color-primary-dark);
}

.link-active svg {
  fill: var(--color-primary-light);
}

.link-active {
  color: var(--color-primary-light) !important;
}

.link-active__dark svg {
  fill: var(--color-dark-darker);
}

.link-active__dark {
  color: var(--color-dark-darker) !important;
}

.link-active__dark-disabled svg {
  fill: var(--color-disabled);
}

.link-active__dark-disabled {
  color: var(--color-disabled) !important;
}
/* - - - - - - - - - - - grid - - - - - - - - - - -  */
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.w-32 {
  width: 32px;
}

.w-100 {
  width: 100%;
}

.mh-100vh {
  min-height: 100vh;
}
/* - - - - - - - - - - - form - - - - - - - - - - -  */
.form-radio__wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-radio__wrapper label,
.form-checkbox__wrapper label {
  margin-bottom: 0px;
  width: 100%;
}

.form-radio,
.form-checkbox {
  display: inline-block;
  margin-right: 10px;
  height: 1.25rem;
  width: 1.25rem;
}

.form-control__radio {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 5px 10px;
  border: 2px solid var(--color-dark-darker);
  width: 100%;
  outline: none;
  display: flex;
  align-items: center;
}

.form-control__radio input {
  margin-bottom: 1px;
}

.form-control {
  margin-bottom: 0;
}

.form-control__label {
  font-size: 0.75rem;
  margin-bottom: 2px;
}

.form-control__input-button {
  display: flex;
}

.form-control__radio-label {
  width: 100%;
}

/* - - - - - - - - - - - menu - - - - - - - - - - -  */
.menu-wrapper {
  background: var(--color-primary);
  padding: 4px 0;
  margin-bottom: 1rem;
}

.menu-link > svg {
  fill: var(--color-dark);
}

.menu {
  display: inline-flex;
  gap: 1px;
}

.menu li {
  padding: 6px 12px;
}

.menu li a {
  font-size: 0.875rem;
  display: block;
  text-transform: uppercase;
  height: 24px;
}

.menu__item {
  width: 100%;
  padding: 1rem 0;
  justify-content: center;
  background-color: var(--color-primary);
}

.menu__item li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* - - - - - - - - - - - user - - - - - - - - - - -  */
.user-wrapper {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  background: var(--color-dark);

  border: 2px solid var(--color-primary);
  height: 100vh;
}

.user-avatar__img {
  height: auto;
  border-radius: 200px;
}

.user-menu__wrapper {
  background-color: var(--color-primary-dark);
  color: var(--color-dark);
}

.user-menu__wrapper li {
  padding: 10px;
  margin-bottom: 1px;
  background-color: var(--color-dark);
}

.user-menu {
  padding: 1rem;
}
.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 150px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.user-section {
  padding: 1rem 1rem 1rem 0;
}

/* - - - - - - - - - - - item - - - - - - - - - - -  */
.item-wrapper {
  display: flex;
  gap: 1rem;
  border: 3px solid var(--color-dark-darker);
  background-color: #030303;
  height: 754.67px;
}

.item-wrapper__poster {
  flex: 2;
  display: flex;
  justify-content: center;
  background-color: var(--color-light);
  position: relative;
}

.item-wrapper__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  margin-right: 40%;
}
.item-wrapper__title h4 {
  padding: 1rem 2rem;
  background: var(--color-dark);
  margin: 0;
  opacity: 0.9;
}

.item-wrapper__title p {
  padding: 0.5rem 1rem;
  background: var(--color-dark);
  margin: 0;
  display: inline-block;
  opacity: 0.9;
}

.item-wrapper__favorite {
  display: block;
  top: 0;
  right: 0;
  position: absolute;
  background: var(--color-dark);
  padding: 1rem;
  opacity: 0.9;
}

.item-wrapper__favorite a {
  display: flex;
}

.item-wrapper__favorite svg {
  fill: var(--color-light);
}

.item-wrapper__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 0;
}
.item-wrapper__info-color {
  display: flex;
  gap: 5px;
}
/* - - - - - - - - - - - search - - - - - - - - - - -  */
.search-wrapper {
  display: flex;
  gap: 10px;
  border: 2px solid transparent;
  align-items: center;
  padding-right: 10px;
  background-color: var(--color-dark);
  border: 2px solid var(--color-primary);
  flex: 2;
  margin-right: 1rem;
  margin-left: 1rem;
}

.search-wrapper__input {
  border: 2px solid transparent;
  background-color: var(--color-dark);
}

.search-results-wrapper {
  background: var(--color-dark);
  border: 2px solid var(--color-primary-light);
  padding: 1rem;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: -18px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 6px 6px 0 var(--color-primary-dark);
}

.search-results__list li {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background: var(--color-dark-darker);
  align-items: center;
  margin-bottom: 1px;
}

.search-results__list li a {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}
/* - - - - - - - - - - - form - - - - - - - - - - -  */
.sign-form {
  display: grid;
  grid-template-columns: minmax(200px, 400px);
}

.sign-form-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sign-form-2 > * {
  flex: 1;
}

.sign-form > input,
.sign-form > button,
.sign-form > textarea,
.sign-form > select {
  margin-bottom: 1rem;
}

/* - - - - - - - - - - - card - - - - - - - - - - -  */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 1000px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card {
  border: 1px solid var(--color-disabled);
  background-color: var(--color-dark-darker);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}

.card-title {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  padding: 0 1rem;
  flex: 1;
  background: rgba(31, 31, 31, 0.4);
}

.card-content {
  padding: 1rem;
  flex: 1;
}

.card-group__img {
  display: flex;
  justify-content: center;
  max-height: 40rem;
}

/* - - - - - - - - - - - padding - - - - - - - - - - -  */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* - - - - - - - - - - - message - - - - - - - - - - -  */
.message-wrapper {
  display: block;
  align-items: center;
  padding: 8px 12px 7px;
  font-size: 0.75rem;
}

.message-error {
  border: 1px solid #560101;
  background: #1c1313;
  color: red;
}

.message-success {
  border: 1px solid #045601;
  background: #131c13;
  color: green;
}

/* - - - - - - - - - - - qrcode - - - - - - - - - - -  */
.qrcode-wrapper {
  display: flex;
  justify-content: center;
}

.qrcode-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrcode {
  width: 192px;
  height: 192px;
}

.payment-wrapper {
  display: flex;
  justify-content: space-between;
  background: var(--color-dark-darker);
  padding: 0 1rem;
  gap: 1rem;
}

.payment-wrapper > div {
  flex: 1;
}

/* - - - - - - - - - - - cart-table - - - - - - - - - - -  */

.cart-table-items__color > div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 42px;
  margin: 0 auto;
}

.cart-table-items__color {
  padding: 3px;
}

/* - - - - - - - - - - - cart-table - - - - - - - - - - -  */

.card-group-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, minmax(200px, 380px));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-group__title {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-dark);
  padding: 0.5rem 1rem;
  opacity: 0.9;
}

.card-group__title h4 {
  margin: 0;
}

.div1,
.div2,
.div3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1,
.item-wrapper__poster {
  grid-area: 1 / 1 / 3 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div2 img,
.div3 img {
  width: 200px;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
/* - - - - - - - - - - - footer - - - - - - - - - - -  */

.footer {
  background: var(--color-secondary);
  color: var(--color-dark);
  padding: 2rem 0;
  min-height: 8rem;
  margin-top: 2rem;
}

/* - - - - - - - - - - - price - - - - - - - - - - -  */
.old-price {
  text-decoration: line-through;
  opacity: 0.2;
}

.new-price {
  color: var(--color-primary);
  font-size: 1.75rem;
}

.old-price,
.new-price {
  font-family: var(--font-ibm-plex);
}

/* - - - - - - - - - - - favorite-row - - - - - - - - - - -  */
.favorite-row {
  background: var(--color-disabled-darker);
  align-items: center;
  padding: 0 0 0 1rem;
}

.icon-active svg {
  color: var(--color-primary);
  fill: var(--color-primary);
}
