@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,400&display=swap');

:root {
  --color-primary: #dbefbc;
  --color-secondary: #f5f5f5;

  --color-primary-dark: #ff8c42;
  --color-primary-light: #ffc3a0;

  --color-secondary-dark: #e0e0e0;
  --color-secondary-light: #f5f5f5;

  --color-dark: #071013;
  --color-light: #f5f5f5;

  --color-dark-darker: #1f1f1f;
  --color-dark-lighter: #fdfdfd;

  --color-success: #4caf50;
  --color-danger: #f44336;
  --color-warning: #ff9800;
  --color-info: #2196f3;

  --font-noto-sans: 'Raleway', Arial, Helvetica, sans-serif;
  --font-ibm-plex: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--color-dark-lighter);
  font-family: var(--font-noto-sans);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-dark);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0 1.38rem;
  font-family: var(--font-noto-sans);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.169rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

hr {
  border: 0;
  border-top: 1px dashed var(--color-dark-darker);
  margin: 1rem 0;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  letter-spacing: 0.36px;
}

a,
a:visited {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-primary-light);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
}

input,
textarea,
select {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 5px 10px;
  border: 2px solid var(--color-dark-darker);
  width: 100%;
  outline: none;
}
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  background-color: var(--color-dark-darker);
  color: var(--color-light);
  outline: none;
  border: 2px solid var(--color-primary);
}

input[type='radio'],
input[type='checkbox'] {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

input[type='radio']:disabled,
input[type='checkbox']:disabled {
  opacity: 1;
}

input[type='color'] {
  height: 38.5px;
}

input[type='search']:focus,
input[type='search']:active {
  border: 2px solid transparent;
}

th {
  background-color: var(--color-dark-darker);
  color: var(--color-light);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  border: 1px solid var(--color-);
  color: var(--color-primary-dark);
  font-weight: 700;
  text-align: center;
  border-right: 1px solid var(--color-dark);
}

th:first-child {
  border-left: 1px solid var(--color-dark);
}

td {
  font-size: 0.75rem;
  font-family: var(--font-ibm-plex);
  font-weight: 400;
  border-right: 1px solid var(--color-dark);
  background-color: var(--color-dark-darker);
  vertical-align: middle;
  text-align: center;
}

td:first-child {
  border-left: 1px solid var(--color-dark);
}

tr {
  border-bottom: 1px solid var(--color-dark);
}

/* - - - - - - - - - - - icon - - - - - - - - - - -  */
svg,
.icon {
  width: 24px;
  height: 24px;
}

svg {
  fill: var(--color-primary);
}
/* - - - - - - - - - - - button - - - - - - - - - - -  */
button {
  outline: 0;
  border: 1px solid transparent;
  margin-right: 1px;
  margin-bottom: 1px;
}

.btn {
  padding: 5px 14px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  align-items: center;
  display: inline-flex;
}
.btn-icon {
  justify-content: center;
}
.btn-icon,
.btn-and-icon {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 7px;
}

.btn-and-icon {
  text-transform: uppercase;
  padding: 5px 14px;
  gap: 4px;
  min-width: 12rem;
  justify-content: space-between;
}

.btn-icon svg,
.btn-and-icon svg,
.form-control__input-button svg {
  fill: var(--color-dark);
}

.btn-primary {
  color: var(--color-dark);
  background-color: var(--color-primary);
  border: none;
}

.btn-full {
  width: 100%;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #8d8d8d;
  color: #666666;
}

button:disabled svg {
  fill: #666666;
}

.btn-color-select,
.btn-storage-select {
  height: 38px;
  width: auto;
  min-width: 38px;
  border-radius: 38px;
}

.btn-storage-select {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-storage-select:focus,
.btn-storage-select:active,
.btn-color-select:focus,
.btn-color-select:active {
  outline: 3px solid var(--color-danger);
}
/* - - - - - - - - - - - grid - - - - - - - - - - -  */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-38 {
  width: 38px;
}
/* - - - - - - - - - - - form - - - - - - - - - - -  */
.form-radio__wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-radio__wrapper label,
.form-checkbox__wrapper label {
  margin-bottom: 0px;
  width: 100%;
}

.form-radio,
.form-checkbox {
  display: inline-block;
  margin-right: 10px;
  height: 1.25rem;
  width: 1.25rem;
}

.form-control {
  margin-bottom: 0;
}

.form-control__label {
  font-size: 0.75rem;
  margin-bottom: 2px;
}

.form-control__input-button {
  display: flex;
}
/* - - - - - - - - - - - menu - - - - - - - - - - -  */
.menu {
  display: inline-flex;
  gap: 1px;
}

.menu li {
  padding: 6px 12px;
}

.menu li a {
  font-size: 0.875rem;
  display: block;
  text-transform: uppercase;
  height: 24px;
}

.menu__item {
  width: 100%;
  padding: 1rem;
  justify-content: center;
}

/* - - - - - - - - - - - user - - - - - - - - - - -  */
.user-wrapper {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
}

.user-avatar__img {
  height: auto;
  border-radius: 200px;
}
/* - - - - - - - - - - - item - - - - - - - - - - -  */
.item-wrapper {
  display: flex;
  gap: 1rem;
  border: 3px solid var(--color-dark-darker);
  background-color: #030303;
  height: 754.67px;
}

.item-wrapper__poster {
  flex: 2;
  display: flex;
  justify-content: center;
  background-color: var(--color-light);
  position: relative;
}

.item-wrapper__poster h4 {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-dark);
  margin: 0;
  padding: 1rem 2rem;
  margin-right: 40%;
}

.item-wrapper__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 0;
}
.item-wrapper__info-color {
  display: flex;
  gap: 4px;
}
/* - - - - - - - - - - - search - - - - - - - - - - -  */
.search-wrapper {
  display: flex;
  gap: 10px;
  border: 2px solid transparent;
  align-items: center;
  padding-right: 10px;
  background-color: var(--color-dark);
  border: 2px solid var(--color-primary);
}

.search-wrapper__input {
  border: 2px solid transparent;
  background-color: var(--color-dark);
}

/* - - - - - - - - - - - form - - - - - - - - - - -  */
.sign-form {
  display: grid;
  grid-template-columns: minmax(200px, 400px);
}

.sign-form-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sign-form-2 > * {
  flex: 1;
}

.sign-form > input,
.sign-form > button,
.sign-form > textarea,
.sign-form > select {
  margin-bottom: 1rem;
}

/* - - - - - - - - - - - card - - - - - - - - - - -  */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  border: 1px solid var(--color-primary);
  background-color: var(--color-dark-darker);
  display: flex;
  flex-direction: column;
}

.card--img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
}

.card--title {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  padding: 0 1rem;
}

.card--content {
  padding: 1rem;
  flex: 1;
}

/* - - - - - - - - - - - padding - - - - - - - - - - -  */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* - - - - - - - - - - - message - - - - - - - - - - -  */
.message-wrapper {
  display: block;
  align-items: center;
  padding: 8px 12px 7px;
  font-size: 0.75rem;
}

.message-error {
  border: 1px solid #560101;
  background: #1c1313;
  color: red;
}

.message-success {
  border: 1px solid #045601;
  background: #131c13;
  color: green;
}
